<ion-header>
  <ion-toolbar>
    <ion-title>asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-list>
    <ion-item color="primary">
      <ion-label>Asignaturas</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>seguridad en contextos educativos</ion-label>
      <ion-label>70%</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Taller de recursos didacticos</ion-label>
      <ion-label>100%</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Desarrollo y crecimiento personal</ion-label>
      <ion-label>75%</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Psicologia infantil</ion-label>
      <ion-label>30%</ion-label>
    </ion-item>
  </ion-list>


  <div class="container">
    <ion-button expand="block" size="small" color="danger" (click)="goToMenuA()">Volver atras</ion-button>
  </div>

</ion-content>
